section
    .container 
        .banner-container 
            .banner-content
                .banner-content-left
                    h3.banner-content-left-title Виртуальные топливные карты <br> для ваших сотрудников
                    span.banner-content-left-text Приложение Саханефтегазсбыт доступно на всех<br>мобильных устройствах
                    .banner-content-left-icons 
                        i.banner-content-left-icon
                            img(src="../img/apps.png", alt="").apps__icon
                .banner-content-right 
                    .phones
                        img(src="../img/tels.png", alt="").phones__icon
