header{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid var(--color-light-blue);
    margin-bottom: 40px;
}
nav, nav ul{
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 38px;
    align-items: center;
}
.icon{
    width: 251px;
    height: 45.02px;
}
.icon-search{
    width: 28px;
    height: 28px;
}
.icon-Vector{
    width: 24px;
    height: 24px;
}
.header__cards{
    display: flex;

    place-items: center;
    column-gap: 5px;
}
.li__link>a{
    @include font-d-header
}
.header__cards div{
    @include font-d-header{
        font-size: 18px;
    }
}
.header__search{
    display: grid;
    place-items: center;
}
