extends ../layout/layout.pug
block vars
	- var title = 'Главная';
block page
	include ../includes/header.pug
	include ../chunk/index/mainslider.pug
	include ../chunk/index/news.pug
	include ../chunk/index/advertisement.pug
	include ../chunk/index/banner.pug
	include ../chunk/index/azc.pug
	include ../includes/footer.pug


	