extends ../layout/layout.pug
block vars
//- var title = 'О компании';
block page
    include ../includes/header.pug   
    .container
        section 
            .the-main-content 
                .left-menu-content
                    +menu([{title: "Общая информация", url: "/about.html"}, {title: "Миссия и стратегия", url: "/missions.html"}, {title: "Руководство", url: "/rukovodstvo.html"}, {title: "Партнеры и клиенты", url: "/partnersandclients.html"}, {title: "Ответственность", url: "/otvetstvennost.html"}, {title: "Наши проекты", url: "/nashiproyekty.html"}, {title: "Антимонопольный комплаенс", url: "/antimonopolnyykomplayens.html"}, {title: "Учредительные документы", url: "/uchreditelnyyedokumenty.html"}, {title: "Вакансии", url: "#"}])
                .right-content-main
                    h1.right-content-main--title Руководство
                    .rukovodstvo-content
                        each val in [{name: "Лебедев Виктор Николаевич", desc: "Генеральный директор АО «Саханефтегазсбыт»", img: ""},{name: "Нифонтов Александр Николаевич", desc: "Генеральный инженер АО «Саханефтегазсбыт»", img: ""},  {name: "Ничипоренко Артем Васильевич", desc: "Заместитель генерального директора АО «Саханефтегазсбыт» по экономике и финансам.", img: ""},{name: "Кульбертинов Николай Иванович", desc: "Заместитель генерального директора по собственной безопасности", img: ""}, {name: "Федоров Алексей Петрович", desc: "Заместитель генерального директора по капитальному строительству, имущественным и земельным вопросам", img: ""}, {name: "Павлов Анатолий Васильевич", desc: "Заместитель генерального директора по инвестициям и инновациям", img: ""},{name: "Макаров Александр Егорович", desc: "Главный бухгалтер АО «Саханефтегазсбыт»", img: ""}]
                                .rukovodstvo-card   
                                    .rukovodstvo-card--img 
                                        img(src= val.img, alt="")
                                    .rukovodstvo-card--description
                                        .rukovodstvo-card--name= val.name
                                        .rukovodstvo-card--desc= val.desc