@import "import/reset";
@import "import/fonts";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&display=swap');
:root
{
    --color-blue: #0078D2;
    --color-light-blue: #EAF5FF;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-gray: #B8B8B8;
    --color-light-gray: #D9D9D9;
    --color-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
    --color-blue-gradient: linear-gradient(90deg, #0082D3 0%, #0072CC 100%);
    --color-linear-gradient: linear-gradient(226.09deg, #1EA5F9 10.23%, #0072CC 87.13%);
}
.icon{
    width: 24px;
    height: 24px;
}
@import './font-mixin.scss';
body{
    box-sizing: border-box;
    font-family: "Roboto";
    background-color: #FFFFFF;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
section{
    margin-bottom: 120px;
}
.section-title{
    @include font-d-h2;
    margin-bottom: 40px;
}

@font-face {
    font-family: "Roboto";
    src: url('./../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url('./../fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Condensed";
    src: url('./../fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url('./../fonts/Roboto/Roboto-Italic.ttf');
    font-weight: 500;
    font-style: italic;
}

@import "import/header";
@import "block/index//mainslider.scss";
@import "block/index//news.scss";
@import "block/index//advertisement.scss";
@import "block/index//banner.scss";
@import "block/index//azc.scss";

