.rukovodstvo-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 50px;
}
.rukovodstvo-card{
    width: 420px;
    min-height: 429px;
    display: flex;
    flex-direction: column;
}
.rukovodstvo-card--img {
    width: 420px;
    height: 260px;
    border-radius: 5px;
    background-color: #D9D9D9;
    margin-bottom: 25px;
}
.rukovodstvo-card--description{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.rukovodstvo-card--name{
    @include font-d-h4;
    max-width: 400px;
    margin-bottom: 8px;
}
.rukovodstvo-card--desc{
    @include font-d-t2{
        line-height: 30px;
    };
}